* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  background-color: rgb(249, 241, 231);
}

header {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 30px;
  font-size: 3rem;
  font-family: "Young Serif", serif;
}

.hover {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  padding: 0;
}

.title {
  display: flex;
  justify-content: center;
}

#dot {
  position: relative;
  margin: 0;
  padding: 0;
  width: 10px;
}
body,
#object1,
#object2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

h2 {
  font-size: 2rem;
  font-family: "Young Serif", serif;
}

#object1 {
  background-color: red;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid black;
}

#object2 {
  background-color: blue;
  width: 250px;
  height: 250px;
  border: 1px solid black;
}

.instruction {
  position: absolute;
  bottom: 20px;
  font-family: "Young Serif", serif;
  font-size: 1.5rem;
}

.menu {
  display: flex;
  position: fixed;
  right: 10px;
  height: 400px;
  width: 300px;
  transform: translateX(90%);
}

.menu span {
  font-size: 2.5rem;
}

.menu-contents {
  font-size: 1rem;
  margin-left: 4rem;
}

.menu-contents img {
  width: 100px;
}

/* keyframes */

@keyframes changeShape {
  0% {
    border-radius: 0%;
  }
  25% {
    border-radius: 50%;
    background-color: orange;
  }
  40% {
    transform: scale(0.8);
    border-radius: 50%;
    background-color: olivedrab;
    color: white;
  }
  60% {
    transform: scale(1.5);
    border-radius: 50%;
    background-color: lightblue;
    color: black;
  }
  80% {
    transform: scale(2);
    border-radius: 50%;
    background-color: darkred;
    color: white;
  }
  100% {
    transform: scale(1);
    background-color: darkmagenta;
    color: white;
    border-radius: 50%;
  }
}

@keyframes growObject {
  0% {
    transform: scale(1) rotate(0deg);
    background-color: red;
  }
  50% {
    transform: scale(2) rotate(180deg);
    background-color: orange;
    color: black;
  }
  100% {
    transform: scale(3) rotate(360deg);
    background-color: olivedrab;
    color: white;
  }
}

@keyframes letterJump {
  0% {
    transform: translateY(0px) rotate(0);
  }

  25% {
    transform: translateY(20px) rotate(90deg);
  }

  50% {
    transform: translateY(0px) rotate(180deg);
  }

  75% {
    transform: translateY(-20px) rotate(270deg);
  }

  100% {
    transform: translateY(0px) rotate(360deg);
  }
}

@keyframes moveMenu {
  0% {
    transform: translateX(90%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes dotDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(2000%);
  }
}
/* Hover States */
#animate:hover {
  animation: spinWord 1.5s linear infinite;
  cursor: pointer;
}

.hover h1:hover {
  animation: letterJump 1s linear infinite;
  cursor: pointer;
}

#object1:hover {
  animation: growObject 2s linear forwards;
  cursor: pointer;
}

#object2:hover {
  animation: changeShape 3s linear forwards;
  cursor: pointer;
}

.menu:hover {
  animation: moveMenu 1s linear forwards;
  cursor: pointer;
  transform: translateX(0%);
}

#dot:hover {
  cursor: pointer;
  animation: dotDown 2s linear 1;
}
